/* Reset basic styles */
* {
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
}

/* Site's variables */
:root {
    /* Colors */
    --site-color-primary: #E1CBB7;
    --site-color-dark: #473137;
    --site-color-light: #EEEDE7;
    --site-color-lighter: #f3f1e9;
    --site-color-secondary: #e8ddce;
    --site-color-dimmed: #B9B7BD;
    --site-color-text-active: #EC957D;
    --site-color-text-focus: #A18F77;
    --site-color-text-normal: var(--site-color-dark);
    --site-color-text-dimmed: var(--site-color-dimmed);
    /* --site-color-text-light: var(--site-color-light); */
    --site-color-bg: var(--site-color-light);
    /* Typography */
    --site-font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --site-font-size-normal: 1rem;
    --site-font-size-small: 0.75rem;
    --site-font-thin: 200;
    --site-font-regular: 400;
    --site-font-black: 900;
    --site-line-height-normal: 1.2;
    --site-heading-line-height-md: 1.3;
    --site-heading-line-height-lg: 1.4;
    --site-heading-size-xxl: 3.875rem;
    --site-heading-size-xl: 3.125rem;
    --site-heading-size-lg: 2.375rem;
    --site-heading-size-md: 1.875rem;
    --site-heading-size-sm: 1.125rem;
    --site-heading-large: var(--site-heading-size-xl);
    --site-heading-medium: var(--site-heading-size-md);
    --site-heading-small: var(--site-heading-size-sm);
    --site-text-transition: all .25s ease-in-out;
    /* Links */
    --site-links-color: var(--site-color-text-normal);
    --site-links-line-height: 1.375;
    --site-links-margin-y: calc(var(--site-base-gaps) / 2);
    /* Sizes */
    --site-container-width: 100%;
    /* Gaps */
    --site-base-gaps: 1rem;
    --site-container-gaps: var(--site-base-gaps);
    --site-section-gaps: calc(var(--site-base-gaps) * 2);
    /* Control elements */
    --site-control-height: 38px;
    --site-control-border-radius: 5px;
    --site-control-border-width: 2px;
    /* Logotype */
    --site-logo-size: 64px;
    /* Icons */
    --site-icon-size: 20px;
    /* Main Menu */
    --site-main-menu-direction: column;
    --site-main-menu-position: absolute;
    --site-main-menu-item-color: var(--site-color-text-normal);
    --site-main-menu-text-align: center;
    /* Footer */
    --site-footer-top-block-flex: 0 0 100%;
    --site-footer-top-block-align: center;
    --site-footer-top-font-size: 0.875rem;
    /* Modals */
    --site-modal-position: fixed;
    --site-modal-width: calc(100% - 16px);
    --site-modal-height: auto;
    --site-modal-height-max: var(--site-modal-height);
    --site-modal-header-height: 64px;
    --site-modal-body-height: 100%;
    --site-modal-gaps: var(--site-base-gaps);
    --site-modal-margin-y: calc(var(--site-modal-gaps) * 2);
    --site-modal-shadow: 0 0 18px var(--site-color-dark);
    --site-modal-border-radius: 6px;
    --site-modal-close-positions: calc(var(--site-modal-gaps) / 10);
    --site-modal-bg-color-rgba: rgba(185, 183, 189, 0.5);
}

/* Default styles */
body {
    line-height: var(--site-line-height-normal);
    font-family: var(--site-font-family);
    font-size: var(--site-font-size-normal);
    font-weight: var(--site-font-regular);
    color: var(--site-color-text-normal);
    background-color: var(--site-color-bg);
    overflow-x: hidden;
}

a {
    color: var(--site-links-color);
}

a:hover {
    --site-links-color: var(--site-color-text-focus);
}

a:active {
    --site-links-color: var(--site-color-text-active);
}

svg.bi {
    width: var(--site-icon-size);
    height: var(--site-icon-size);
}

a,
.btn,
.form-control {
    transition: var(--site-text-transition);
}

a:focus-visible,
.btn:focus-visible,
.form-control:focus-visible,
a:focus,
.btn:focus,
.form-control:focus {
    outline: none;
}

/* Headings */
.heading-large,
.heading-medium,
.heading-small {
    font-weight: var(--site-font-black);
}
.heading-large {
    font-size: var(--site-heading-large);
    line-height: var(--site-heading-line-height-lg);
}

.heading-medium {
    font-size: var(--site-heading-medium);
    line-height: var(--site-heading-line-height-md);
}

.heading-small {
    font-size: var(--site-heading-small);
    line-height: var(--site-heading-line-height-md);
}

/* Helpers */
.text-primary {
    color: var(--site-color-text-active) !important;
}

.text-dimmed {
    color: var(--site-color-text-dimmed) !important;
}

.text-small {
    font-size: var(--site-font-size-small) !important;
}

.is-hidden {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

.container {
    width: var(--site-container-width);
    margin: 0 auto;
    padding: 0 var(--site-container-gaps);
}

/* Elements */
.form-control {
    height: var(--site-control-height);
    padding: calc(var(--site-base-gaps) / 2) var(--site-base-gaps);
    border-width: var(--site-control-border-width);
    border-style: solid;
    border-color: var(--site-color-secondary);
    border-radius: var(--site-control-border-radius);
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.brand-img {
    width: var(--site-logo-size);
    height: var(--site-logo-size);
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

/* Buttons */
.btn,
.btn-link {
    display: inline-flex;
    align-items: center;
    gap: calc(var(--site-base-gaps) / 3);
}

.btn {
    height: var(--site-control-height);
    padding: calc(var(--site-base-gaps) / 2) var(--site-base-gaps);
    border-width: var(--site-control-border-width);
    border-style: solid;
    border-color: transparent;
    border-radius: var(--site-control-border-radius);
    outline: none;
    background-color: transparent;
    color: var(--site-color-text-normal);
    cursor: pointer;
}

.btn:focus,
.btn:hover {
    color: var(--site-color-text-focus);
}

.btn-border {
    border-color: var(--site-color-dark);
}

.btn-border:focus,
.btn-border:hover {
    border-color: var(--site-color-text-focus);
    color: var(--site-color-text-focus);
}

.btn-accent {
    border-color: var(--site-color-dark);
    background-color: var(--site-color-dark);
    color: var(--site-color-light);
}

.btn-accent:focus,
.btn-accent:hover {
    background-color: transparent;
    color: var(--site-color-dark);
}

.btn:disabled {
    color: var(--site-color-dimmed) !important;
}

.btn-border:disabled {
    border-color: var(--site-color-dimmed) !important;
}

.btn-accent:disabled {
    border-color: var(--site-color-dimmed) !important;
    background-color: var(--site-color-dimmed) !important;
    color: var(--site-color-light) !important;
}

/* Modal */
.modal {
    visibility: collapse;
    opacity: 0;
    position: var(--site-modal-position);
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    z-index: 999;
    background-color: var(--site-modal-bg-color-rgba);
}

.modal__window {
    width: var(--site-modal-width);
    height: var(--site-modal-height);
    max-height: var(--site-modal-height-max);
    position: relative;
    margin: var(--site-modal-margin-y) auto;
    padding: var(--site-modal-gaps);
    border-radius: var(--site-modal-border-radius);
    box-shadow: var(--site-modal-shadow);
    background-color: var(--site-color-lighter);
}

.modal__header {
    max-height: var(--site-modal-header-height);
    padding-top: var(--site-modal-gaps);
    padding-bottom: var(--site-modal-gaps);
    border-bottom: 2px solid var(--site-color-dimmed);
}

.modal__body {
    max-height: var(--site-modal-body-height);
    padding-top: var(--site-modal-gaps);
    padding-bottom: var(--site-modal-gaps);
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    top: var(--site-modal-close-positions);
    right: var(--site-modal-close-positions);
}

.modal__close .btn {
    border:  none;
    padding-top: var(--site-base-gaps);
    padding-bottom: var(--site-base-gaps);
}

/* Main Menu */
.main-menu {
    display: flex;
    flex-direction: var(--site-main-menu-direction);
    background-color: var(--site-color-lighter);
}

.main-menu__link {
    padding: var(--site-base-gaps);
    color: var(--site-main-menu-item-color);
    font-weight: var(--site-font-thin);
    line-height: var(--site-links-line-height);
    text-decoration: none;
    text-transform: uppercase;
    text-align: var(--site-main-menu-text-align);
}

/* Social Links */
.socials {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.socials__item {
    list-style: none;
}

.socials__link {
    display: block;
    padding: calc(var(--site-base-gaps) / 2);
}

/* Page Header */
.header {
    background-color: var(--site-color-lighter);
}

.header__top {
    padding: var(--site-base-gaps) 0;
}

.header__bottom {
    border-bottom: 1px solid var(--site-color-primary);
    border-top: 1px solid var(--site-color-primary);
}

.header__nav {
    display: flex;
}

/* Page Footer */
.footer {
    font-weight: var(--site-font-thin);
}

.footer__top {
    padding: var(--site-base-gaps) 0;
    font-size: var(--site-footer-top-font-size);
    background-color: var(--site-color-secondary);
}

.footer__top-container {
    display: flex;
    flex-wrap: wrap;
}

.footer__brand {
    flex: var(--site-footer-top-block-flex);
    margin-bottom: var(--site-base-gaps);
    display: flex;
    flex-direction: column;
    align-items: var(--site-footer-top-block-align);
}

.footer__nav {
    flex: var(--site-footer-top-block-flex);
    margin-bottom: var(--site-base-gaps);
    display: flex;
    flex-direction: column;
    align-items: var(--site-footer-top-block-align);
}

.footer__nav-item {
    line-height: var(--site-links-line-height);
}

.footer__nav-item,
.footer__contacts .btn-link {
    margin-bottom: var(--site-links-margin-y);
    word-break: break-all;
}

.footer__contacts {
    flex: var(--site-footer-top-block-flex);
    margin-bottom: var(--site-base-gaps);
    text-align: var(--site-footer-top-block-align);
    line-height: var(--site-links-line-height);
}

.footer__contacts .socials {
    justify-content: var(--site-footer-top-block-align);
}

.footer__bottom {
    padding: var(--site-base-gaps) 0;
    text-align: center;
    background-color: var(--site-color-primary);
}

/* Page Main */
/* .main {} */

/* Page Sections */
.section {
    padding: var(--site-section-gaps) 0;
}

/* Responsive styles */
@media (orientation: portrait) {
    :root {
        --site-modal-height: calc(100vh - calc(var(--site-modal-margin-y) * 2));
        --site-modal-body-height: calc(var(--site-modal-height) - var(--site-modal-header-height) - var(--site-modal-margin-y));
    }
}

@media (orientation: landscape) {
    :root {
        --site-modal-position: absolute;
    }
}

@media screen and (min-width: 375px) {
    :root {
        --site-footer-top-block-flex: 0 0 50%;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --site-container-width: 720px;
        --site-container-gaps: 0;
        --site-icon-size: 24px;
        --site-heading-large: var(--site-heading-size-xxl);
        --site-heading-medium: var(--site-heading-size-lg);
        --site-heading-small: var(--site-heading-size-md);
        --site-footer-top-font-size: var(--site-font-size-normal);
        --site-modal-position: fixed;
        --site-modal-width: 600px;
        --site-modal-margin-y: 10rem;
        --site-modal-height: auto;
        --site-modal-height-max: calc(100vh - var(--site-modal-margin-y));
        --site-modal-body-height: calc(var(--site-modal-height-max) - var(--site-modal-header-height) - var(--site-modal-margin-y));
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --site-container-width: 1160px;
        --site-section-gaps: calc(var(--site-base-gaps) * 3);
        --site-main-menu-direction: row;
        --site-main-menu-position: relative;
        --site-main-menu-text-align: left;
        --site-footer-brand-justify: start;
        --site-footer-top-block-align: start;
        --site-footer-top-block-flex: 0 0 25%;
    }
}
