/* Reset basic styles */
* {
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
}

/* Site's variables */
:root {
    /* COLORS */
    --site-color-primary: #E1CBB7;
    --site-color-dark: #473137;
    --site-color-focus: #A18F77;
    --site-color-accent: #EC957D;
    --site-color-special: #F7C902;
    --site-color-secondary: #e8ddce;
    --site-color-dimmed: #B9B7BD;
    --site-color-light: #EEEDE7;
    --site-color-lighter: #f3f1e9;
    --site-color-text-active: var(--site-color-accent);
    --site-color-text-focus: var(--site-color-focus);
    --site-color-text-normal: var(--site-color-dark);
    --site-color-text-dimmed: var(--site-color-dimmed);
    --site-color-bg: var(--site-color-light);
    /* TYPOGRAPHY */
    --site-font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --site-font-size-normal: 1rem;
    --site-font-size-pre-small: 0.875rem;
    --site-font-size-small: 0.75rem;
    --site-font-thin: 200;
    --site-font-regular: 400;
    --site-font-black: 900;
    --site-line-height-normal: 1.2;
    --site-heading-line-height-md: 1.3;
    --site-heading-line-height-lg: 1.4;
    --site-heading-size-xxl: 3.875rem;
    --site-heading-size-xl: 3.125rem;
    --site-heading-size-lg: 2.375rem;
    --site-heading-size-md: 1.875rem;
    --site-heading-size-sm: 1.125rem;
    --site-heading-lg: var(--site-heading-size-xl);
    --site-heading-md: var(--site-heading-size-md);
    --site-heading-sm: var(--site-heading-size-sm);
    --site-text-transition: all .25s ease;
    /* BASICS */
    --site-container-width: 100%;
    --site-gaps-base: 1rem;
    --site-gaps-half: calc(var(--site-gaps-base) / 2);
    --site-gaps-double: calc(var(--site-gaps-base) * 2);
    --site-border-radius: 5px;
    /* CONTROL ELEMENTS */
    --site-control-height: 38px;
    --site-control-border-radius: var(--site-border-radius);
    --site-control-border-width: 2px;
    /* LINKS */
    --site-link-color: var(--site-color-text-normal);
    --site-link-visited-color: #724c27;
    --site-link-line-height: 1.375;
    --site-link-margin-y: var(--site-gaps-half);
    /* BUTTONS */
    --site-btn-gaps: 0 var(--site-gaps-base);
    --site-btn-color: var(--site-color-text-normal);
    --site-btn-border-color: transparent;
    --site-btn-bg-color: transparent;
    --site-btn-child-gaps: calc(var(--site-gaps-base) / 3);
    /* GAPS */
    --site-container-gaps: var(--site-gaps-base);
    --site-section-gaps: var(--site-gaps-double);
    /* LOGOTYPE */
    --site-logo-size: 56px;
    /* ICONS */
    --site-icon-size: 20px;
    /* HEADER */
    --header-login-display: none;
    --header-brand-self-align: initial;
    --header-menu-toggler-display: block;
    --header-bottom-border: none;
    /* FOOTER */
    --footer-top-block-gaps-y: var(--site-gaps-base);
    --footer-top-block-flex: 0 0 100%;
    --footer-top-block-align: center;
    --footer-top-font-size: var(--site-font-size-pre-small);
    /* MAIN MENU */
    --main-menu-direction: column;
    --main-menu-position: absolute;
    --main-menu-item-color: var(--site-color-text-normal);
    --main-menu-text-align: center;
    --main-menu-position-x: -100vh;
    --main-menu-login-visibility: flex;
    --main-menu-close-visibility: flex;
    /* HOME BANNER */
    --home-banner-height: 480px;
    --home-banner-margin-x: calc(var(--site-gaps-base) * -1);
    --home-banner-img-width: auto;
    --home-banner-img-height: 100%;
    --home-banner-img-transform: scale(1.15) translateX(-15rem);
    --home-banner-info-gaps: var(--site-gaps-double) 0;
    --home-banner-info-bg-rgba: rgba(161, 143, 119, 0.75);
    --home-banner-details-align: center;
    /* PRODUCT */
    --product-cart-color: var(--site-color-primary);
    --product-item-width: 180px; /* Same size setted in html <img width="180"> */
    --product-item-picture-height: 135px;
    --product-item-transition: all .3s ease-in;
    --product-item-title: var(--site-font-size-pre-small);
    --product-item-title-color: var(--site-color-text-normal);
    --product-item-shadow: 0 0 8px var(--site-color-primary);
    /* PRODUCT SINGLE */
    --product-single-direction: column;
    --product-single-gap: var(--site-gaps-base);
    --product-single-gaps: 0;
    --product-single-width: auto;
    --product-single-buttons-width: 50%;
    /* MODALS */
    --modal-position: fixed;
    --modal-width: calc(100% - 1rem);
    --modal-height: auto;
    --modal-height-max: var(--modal-height);
    --modal-header-height: 64px;
    --modal-body-height: 100%;
    --modal-gaps: var(--site-gaps-base);
    --modal-margin-y: calc(var(--modal-gaps) * 2);
    --modal-shadow: 0 0 18px var(--site-color-dark);
    --modal-border-radius: 6px;
    --modal-close-positions: calc(var(--modal-gaps) / 10);
    --modal-bg-color-rgba: rgba(185, 183, 189, 0.5);
    --modal-transition: all .375s ease-in;
}

/* Default styles */
body {
    line-height: var(--site-line-height-normal);
    font-family: var(--site-font-family);
    font-size: var(--site-font-size-normal);
    font-weight: var(--site-font-regular);
    color: var(--site-color-text-normal);
    background-color: var(--site-color-bg);
    overflow-x: hidden;
}

picture {
    display: block;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

a {
    color: var(--site-link-color);
}

a:visited {
    color: var(--site-link-visited-color);
}

a:hover {
    --site-link-color: var(--site-color-text-focus);
}

a:active {
    --site-link-color: var(--site-color-text-active);
}

svg.bi {
    width: var(--site-icon-size);
    height: var(--site-icon-size);
}

a,
.btn,
.form-control {
    transition: var(--site-text-transition);
}

a:focus-visible,
.btn:focus-visible,
.form-control:focus-visible,
a:focus,
.btn:focus,
.form-control:focus {
    outline: none;
}

/* Headings */
.heading-lg,
.heading-md,
.heading-sm {
    font-weight: var(--site-font-black);
}

.heading-lg {
    font-size: var(--site-heading-lg);
    line-height: var(--site-heading-line-height-lg);
}

.heading-md {
    font-size: var(--site-heading-md);
    line-height: var(--site-heading-line-height-md);
}

.heading-sm {
    font-size: var(--site-heading-sm);
    line-height: var(--site-heading-line-height-md);
}

/* Helpers */
.text-center {
    text-align: center;
}

.text-small {
    font-size: var(--site-font-size-small) !important;
}

.is-hidden {
    display: none !important;
}

.price-special {
    color: var(--site-color-special);
}

.price-old {
    text-decoration: line-through;
    font-weight: var(--site-font-regular);
    opacity: 0.625;
}

.d-flex {
    display: flex !important;
}

.container {
    width: var(--site-container-width);
    margin: 0 auto;
    padding: 0 var(--site-container-gaps);
}

/* Elements */
.form-control {
    height: var(--site-control-height);
    padding: var(--site-gaps-half) var(--site-gaps-base);
    border-width: var(--site-control-border-width);
    border-style: solid;
    border-color: var(--site-color-secondary);
    border-radius: var(--site-control-border-radius);
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.brand-img {
    width: var(--site-logo-size);
    height: var(--site-logo-size);
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

/* Buttons */
.btn,
.btn-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--site-btn-child-gaps);
}

.btn {
    height: var(--site-control-height);
    padding: var(--site-btn-gaps);
    border-width: var(--site-control-border-width);
    border-style: solid;
    border-color: var(--site-btn-border-color);
    border-radius: var(--site-control-border-radius);
    outline: none;
    background-color: var(--site-btn-bg-color);
    color: var(--site-btn-color);
    font-size: var(--site-font-size-normal);
    text-decoration: none;
    cursor: pointer;
}

.btn:focus ,
.btn:hover {
    --site-btn-color: var(--site-color-text-focus);
}

.btn-border {
    --site-btn-border-color: var(--site-color-dark);
}

.btn-border:focus,
.btn-border:hover {
    --site-btn-border-color: var(--site-color-text-focus);
    --site-btn-color: var(--site-color-text-focus);
}

.btn-accent {
    --site-btn-border-color: var(--site-color-dark);
    --site-btn-bg-color: var(--site-color-dark);
    --site-btn-color: var(--site-color-light);
}

.btn-accent:focus,
.btn-accent:hover {
    --site-btn-bg-color: transparent;
    --site-btn-color: var(--site-color-dark);
}

.btn:disabled {
    --site-btn-color: var(--site-color-dimmed) !important;
}

.btn-border:disabled {
    --site-btn-border-color: var(--site-color-dimmed) !important;
}

.btn-accent:disabled {
    --site-btn-border-color: var(--site-color-dimmed) !important;
    --site-btn-bg-color: var(--site-color-dimmed) !important;
    --site-btn-color: var(--site-color-light) !important;
}

/* Modal */
.modal {
    visibility: collapse;
    opacity: 0;
    position: var(--modal-position);
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    z-index: -1;
    background-color: var(--modal-bg-color-rgba);
    transition: var(--modal-transition);
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}

.modal__window {
    width: var(--modal-width);
    height: var(--modal-height);
    max-height: var(--modal-height-max);
    position: relative;
    margin: var(--modal-margin-y) auto;
    padding: var(--modal-gaps);
    border-radius: var(--modal-border-radius);
    box-shadow: var(--modal-shadow);
    background-color: var(--site-color-lighter);
    transition: var(--modal-transition) .3s;
    transform: rotateX(90deg);
}
.modal.is-visible .modal__window {
    transform: rotateX(0deg);
}

.modal__header {
    max-height: var(--modal-header-height);
    padding-top: var(--modal-gaps);
    padding-bottom: var(--modal-gaps);
    border-bottom: 2px solid var(--site-color-dimmed);
}

.modal__body {
    max-height: var(--modal-body-height);
    padding-top: var(--modal-gaps);
    padding-bottom: var(--modal-gaps);
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    top: var(--modal-close-positions);
    right: var(--modal-close-positions);
}

.modal__close .btn {
    border:  none;
    padding-top: var(--site-gaps-base);
    padding-bottom: var(--site-gaps-base);
}

/* Main Menu */
.main-menu {
    --menu-transition: all .375s ease-out;
    display: flex;
    justify-content: center;
    flex-direction: var(--main-menu-direction);
    background-color: var(--site-color-lighter);
    transition: var(--menu-transition);
}

.main-menu .btn {
    display: var(--main-menu-close-visibility);
}

.main-menu .btn-link {
    display: var(--main-menu-login-visibility);
}

.main-menu__link {
    padding: var(--site-gaps-base);
    color: var(--main-menu-item-color);
    font-weight: var(--site-font-thin);
    line-height: var(--site-link-line-height);
    text-decoration: none;
    text-transform: uppercase;
    text-align: var(--main-menu-text-align);
}

/* Social Links */
.socials {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.socials__item {
    list-style: none;
}

.socials__link {
    display: block;
    padding: var(--site-gaps-half);
}

/* Page Header */
.header {
    background-color: var(--site-color-lighter);
}

.header__top {
    padding: var(--site-gaps-half) 0;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--site-gaps-half);
}

.header__nav-right {
    justify-content: flex-end;
}

.header__brand {
    align-self: var(--header-brand-self-align);
}

.header__favorite,
.header__login {
    display: var(--header-login-display);
}

.header__menu-toggler {
    display: var(--header-menu-toggler-display);
}

.header__bottom {
    border-top: 1px solid var(--site-color-primary);
    border-bottom: var(--header-bottom-border);
}

/* Page Footer */
.footer {
    font-weight: var(--site-font-thin);
}

.footer__top {
    padding: var(--site-gaps-double) 0 var(--site-gaps-base);
    font-size: var(--footer-top-font-size);
    background-color: var(--site-color-secondary);
}

.footer__top-container {
    display: flex;
    flex-wrap: wrap;
}

.footer__brand,
.footer__contacts,
.footer__nav {
    margin-bottom: var(--footer-top-block-gaps-y);
}

.footer__brand {
    flex: var(--footer-top-block-flex);
    display: flex;
    flex-direction: column;
    align-items: var(--footer-top-block-align);
}

.footer__nav {
    flex: var(--footer-top-block-flex);
    display: flex;
    flex-direction: column;
    align-items: var(--footer-top-block-align);
}

.footer__nav-item {
    line-height: var(--site-link-line-height);
}

.footer__nav-item,
.footer__contacts .btn-link {
    margin-bottom: var(--site-link-margin-y);
    word-break: break-all;
}

.footer__contacts {
    flex: var(--footer-top-block-flex);
    text-align: var(--footer-top-block-align);
    line-height: var(--site-link-line-height);
}

.footer__contacts .socials {
    justify-content: var(--footer-top-block-align);
}

.footer__bottom {
    padding: var(--site-gaps-base) 0;
    text-align: center;
    background-color: var(--site-color-primary);
}

/* Page Sections */
.section:not(.section-banner) {
    padding: var(--site-section-gaps) 0;
}

.section__title {
    margin-bottom: var(--site-section-gaps);
}

.section-top-sale {
    background-color: var(--site-color-secondary);
}

/* Home Banner */
.banner {
    position: relative;
    height: var(--home-banner-height);
    min-height: var(--home-banner-height-min, auto);
    overflow: hidden;
}

.banner__visual {
    height: 100%;
    text-align: center;
}

.banner__image {
    width: var(--home-banner-img-width);
    height: var(--home-banner-img-height);
    transform: var(--home-banner-img-transform);
}

.banner__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    padding: var(--home-banner-info-gaps);
    background-color: var(--home-banner-info-bg-rgba);
}

.banner__title,
.banner__slogan {
    margin-bottom: var(--site-gaps-base);
}

.banner__title .heading-sm {
    line-height: var(--site-heading-line-height-lg);
    font-weight: var(--site-font-thin);
}

.banner__title .heading-sm,
.banner__slogan .heading-lg {
    color: var(--site-color-lighter);
}

.banner__details {
    width: 100%;
    align-items: center;
    justify-content: var(--home-banner-details-align);
    gap: var(--site-gaps-double);
}

.banner__price {
    font-size: var(--site-heading-size-lg);
    font-weight: var(--site-font-black);
}

/* Products */
.products {
    padding: var(--site-gaps-double) var(--site-gaps-half);
    gap: var(--site-gaps-base);
    overflow-x: scroll;
    touch-action: pan-x;
}

/* Product */
/* .product {} */

.product-cart,
.product-cart__image img {
    transition: var(--product-item-transition);
}

.product-cart {
    width: var(--product-item-width);
    flex: 0 0 var(--product-item-width);
    padding-bottom: var(--site-gaps-half);
    overflow: hidden;
    border-radius: var(--site-border-radius);
    background-color: var(--product-cart-color);
    box-shadow: var(--product-item-shadow);
}

.product-cart__image {
    position: relative;
    height: var(--product-item-picture-height);
    overflow: hidden;
}

.product-cart__image img {
    max-width: 133.333%; /* aspect ratio 4:3 */
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.92);
}

.product-cart:hover {
    --product-item-shadow: 0 0 8px var(--site-color-focus);
    --product-cart-color: var(--site-color-secondary);
}

.product-cart:hover img {
    transform: translate(-50%, -50%) scale(1) rotate(2deg);
}

.product-cart:hover .product-cart__title-link {
    text-decoration: underline;
}

.product-cart__title {
    padding: var(--site-gaps-base) var(--site-gaps-half);
    font-size: var(--product-item-title);
}

.product-cart__title-link {
    color: var(--product-item-title-color);
    text-decoration: none;
}

.product-cart__price {
    padding: 0 var(--site-gaps-half) var(--site-gaps-base);
    font-weight: var(--site-font-black);
    text-align: end;
}

.product-cart__price > span + span {
    margin-left: var(--site-gaps-half);
}

.product-cart__buttons {
    display: flex;
    justify-content: center;
    padding: 0 var(--site-gaps-half);
}

.product-cart__buttons .btn {
    flex: 0 0 50%;
}

/* Product Single */
.product-single {
    flex-direction: var(--product-single-direction);
    gap: var(--product-single-gap);
}

.product-single__visual,
.product-single__info {
    flex: 0 0 var(--product-single-width);
    max-width: var(--product-single-width);
}

.product-single__visual {
    padding-right: var(--product-single-gaps);
}

.product-single__info {
    padding-left: var(--product-single-gaps);
}

.product-single__visual {
    overflow: hidden;
}

.product-single__price,
.product-single__buttons,
.product-single__details {
    margin-top: var(--site-gaps-base);
}

.product-single__buttons {
    gap: var(--product-single-gaps);
}

.product-single__buttons .btn {
    flex: 0 0 var(--product-single-buttons-width);
}

/* Responsive styles */
@media (orientation: portrait) {
    :root {
        --modal-height: calc(100vh - calc(var(--modal-margin-y) * 2));
        --modal-body-height: calc(var(--modal-height) - var(--modal-header-height) - var(--modal-margin-y));
    }
}

@media (orientation: landscape) {
    :root {
        --modal-position: absolute;
    }
}

@media screen and (min-width: 375px) {
    :root {
        --footer-top-block-flex: 0 0 50%;
        --home-banner-info-gaps: var(--site-gaps-double) var(--site-gaps-half);
    }
}

@media screen and (min-width: 480px) {
    :root {
        --home-banner-img-transform: scale(1.2) translateX(-2rem);
        --home-banner-info-gaps: var(--site-gaps-double);
        --product-single-direction: row;
        --product-single-width: 50%;
        --product-single-gap: 0;
        --product-single-gaps: var(--site-gaps-half);
    }
}

@media screen and (min-width: 768px) {
    :root {
        --site-container-width: 720px;
        --site-container-gaps: 0;
        --site-section-gaps: calc(var(--site-gaps-double) * 2);
        --site-icon-size: 24px;
        --site-heading-lg: var(--site-heading-size-xxl);
        --site-heading-md: var(--site-heading-size-lg);
        --site-heading-sm: var(--site-heading-size-md);
        --main-menu-login-visibility: none;
        --header-login-display: block;
        --header-brand-self-align: start;
        --footer-top-font-size: var(--site-font-size-normal);
        --home-banner-height: 600px;
        --home-banner-margin-x: 0;
        --home-banner-img-transform: scale(1.3);
        --home-banner-details-align: start;
        --product-single-buttons-width: auto;
        --product-single-gaps: var(--site-gaps-base);
        --modal-position: fixed;
        --modal-width: 600px;
        --modal-margin-y: 10rem;
        --modal-height: auto;
        --modal-height-max: calc(100vh - var(--modal-margin-y));
        --modal-body-height: calc(var(--modal-height-max) - var(--modal-header-height) - var(--modal-margin-y));
    }
}

@media screen and (max-width: 1139.7px) {
    .main-menu {
        padding: var(--site-gaps-base);
        position: fixed;
        left: var(--main-menu-position-x);
        top: 0;
        min-height: 100vh;
        width: 280px;
        z-index: 999;
    }

    .main-menu[data-is-visible="false"]::after {
        left: -100vw;
    }
    
    .main-menu::after {
        content: '';
        position: absolute;
        top: 0;
        left: 280px;
        width: calc(100vw - 280px);
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
    }
}

@media screen and (min-width: 1140px) {
    :root {
        --site-container-width: 1100px;
        --site-section-gaps: calc(var(--site-gaps-double) * 4);
        --main-menu-direction: row;
        --main-menu-position: relative;
        --main-menu-text-align: left;
        --main-menu-close-visibility: none;
        --header-menu-toggler-display: none;
        --header-bottom-border: 1px solid var(--site-color-primary);
        --site-footer-brand-justify: start;
        --footer-top-block-align: start;
        --footer-top-block-flex: 0 0 25%;
        --footer-top-block-gaps-y: 0;
        --home-banner-height: calc(100vh - 100px);
        --home-banner-height-min: 600px;
        --home-banner-img-transform: none;
        --home-banner-img-width: 100%;
        --home-banner-img-height: auto;
        --home-banner-info-gaps: var(--site-gaps-double) var(--site-gaps-double) calc(var(--site-gaps-double) * 2);
    }
}
